@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    background-color: #1F2937;
}

.h-links ul {
    list-style: none;
    margin: 0;
    display: flex;
    gap: 24px;
}

.h-links a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.h-logo {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

.title {
    display: flex;
    justify-content: center;
    gap: 48px;
    background-color: #1F2937;
    padding: 75px;
}

.t-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    flex: 0 0 450px;
}

.t-bold {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.t-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    border-radius: 6px;
    padding: 4px 36px;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-color: #1F2937;
    border-style: solid;
}

.content {
    padding: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    margin-bottom: 72px;
}

.c-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.c-pics {
    display: flex;
    justify-content: center;
    gap: 36px;
}

.picbox {
    flex-basis: 200px;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 36px;
}

.quote-block {
    flex-basis: 775px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.attribution {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
}

.sign-up {
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    padding: 36px;
    margin: 100px 200px;
    gap: 128px;
    align-items: center;
}

.s-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 36px;
}

.s-content-text { 
    color: white;
}

.s-content-text-header {
    font-size: 24px;
    font-weight: 600;
}

.s-content-text-subtext {
    font-weight: 300;
}

.s-content-button button {
    border-color: white;
}